project:
  type: website

website:
  description: "A blog built with Quarto"
  site-url: https://jonbry.github.io/leaRns/ # you must change this appropriately for RSS feeds to work properly
  title: "leaRns"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



